
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="ui_update/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="ui_update/static/style.css" rel="stylesheet" type="text/css" />
    <script src="ui_update/mui.min.js"></script>
    <script src="ui_update/jquery-2.1.4.min.js"></script>
    <script src="ui_update/static/script.js"></script>

<!-- blur in -->

<!-- blur out -->

    <title>Feed | Translators` Guild</title>

    <!-- Bootstrap core CSS -->
    <link href="ui_update/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="ui_update/navbar-top-fixed.css" rel="stylesheet">





<style>








body {
  font-family: "product-sans", sans-serif;
  /*filter:blur(9px);*/
}







h3{
  color: black;
}
hr{
  background-color: #fafafa;
}
/* fotter */




/**/
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:white; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#727480; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#727480; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .icon {
  width: 20px;
  padding-top: 30px;
 }
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#f5f5f5;}
 .copyright p { text-align:left; color:#6d6f7b; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:15px; font-weight:600; color:#727480; margin-bottom:22px;}
 .post p { font-size:12px; color:#727480; line-height:20px;}
 .post p span { display:block; color:#6d6f7b;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:80px;}
 .bottom_ul li:after { content:" "; color:#6d6f7b; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#6d6f7b;  font-size:12px;}

/* left */
 .bottom_ul_l { list-style-type:none; float:left; margin-bottom:0px;}
 .bottom_ul_l li { float:left; line-height:80px;font-weight:900;}
 .bottom_ul_l li:after { content:"   "; color:#6d6f7b; margin-right:12px; margin-left:8px;}
 .bottom_ul_l li a { color:#6d6f7b;  font-size:14px;}
/**/
/* down arow */

/**/






/*end footer */






/* Style the tab */
div.tab {
    overflow: hidden;
/*    border: 1px solid #ccc;
    background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  font-weight:;
    color: #00ce53;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: #05292d;
      font-weight: 800;
      font-size: 2em;
      letter-spacing: 0.1px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    color: white;
}
</style>






  </head>

  <body>





<div align="center" style="width: 100%;min-height: 500px;" >
<a href="/analyze">Intenal demo routes</a>



</div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="ui_update/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="ui_update/jquery.min.js"><\/script>')</script>
    <script src="ui_update/popper.min.js"></script>
    <script src="ui_update/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="ui_update/ie10-viewport-bug-workaround.js"></script>
    <script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
  </body>
</html>
