<!DOCTYPE html>
<html>
<head>
	<title>Dictionary | Translator`s Guild.org</title>

	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/js/bootstrap.min.js" rel="stylesheet">
	<link href="assets/js/jquery.min.js" rel="stylesheet">

	<link href="internal/css/temp.internal_demo_routes.css" rel="stylesheet">
</head>
<body>



<div class="row row_container" >
<!-- > content -->


	<div class="row content_container" style="margin-top: 20%;">
		<!--  -->
		<!-- <div class="col-sm-12 col-lg-1 left_right" >
		</div> -->
		<!--  -->
		<div class="col-sm-12 col-lg-5 page_header_div" style="">
			<span class="page_header">
			Access
Dictionaries
			</span>
		</div>
		<div class="col-sm-12 col-lg-5 page_text_div" style="">
			<span class="page_text">
			Browse 100+ Dictionaries
			</span>
			<br><br>
			<span class="page_sub_text">
			advertise, sell & inform on
			your product range
			</span>
		</div>
		<!--  -->
		<!-- <div class="col-sm-12 col-lg-1 left_right">
		</div> -->
		<!--  -->

	</div>

</div>
<div class="row row_container" style="background: #eceff1;margin-top: 17%;">
<!-- > content -->
<div class="row" id="footer_links" style="">

	<a href="/h" style="font-size: 1.2em;font-weight: 800;">H</a>	
	<a href="/dictionary">Dictionary</a>
	<a href="/library">Library</a>
	<a href="/collaborate">Collaborate </a>
	<a href="/ask">Ask</a>
	<a href="/contribute">Contribute</a>
	<a href="/earn">Earn</a>
	<a href="/out_source">Out source</a>
	<a href="/analyze">Analyze</a>
	<a href="/language_engine">Language engine</a>
	<a href="/pages" >Pages</a>
	
	
	





	


<br>
<br>
<br>
<hr style="opacity: 0.8;">

	<a href="/home">Home</a>
	<a href="/Login">Login</a>
	<a href="/logout">logout</a>
	<a href="/signup">signup</a>
	<a href="/invite">invite</a>
	<a href="/profile">profile</a>
	<a href="/following">following</a>
	<a href="/followers">followers</a>


<br>
<hr >

	<a href="/post">Post</a>
	<a href="/upload">Upload</a>
	<a href="/notifications">Notifications</a>
	<a href="/channels">Channels</a>





</div>
		
</div>
	<br>	
<div class="row row_container" style="margin: 0px;">
<!-- > content -->
	<div class="row" id="footer_links_b" style="padding: 1% 0px 3% 0px;margin: 0% 0px 4% 0px;">



		<a href="/podcast">Podcast</a>
		<a href="/blog">Blog</a>
		<a href="/forum">Site forum</a> /
		<!-- <a href="/community">Dev community</a> -->
		<a href="/support">Site support</a>


		<a href="/team">Team</a>
		<a href="/developers">Developers / Api</a>
		<a href="/about">About</a>

		<!-- <img src="frontend_identifier_icon.beta.png" alt="logo" id="footer_f_i_i"> -->

	</div>





<!-- < content -->
</div>




</body>
</html>
